doctype html
html
  head
    title= 'Rent-a-car app'
    style(type='text/css').
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      h2 {
        color: #2f7c47;
      }
  body
    block content

